* {
   box-sizing: border-box; 
}

.parent {
  border: 5px solid blue;
  /* padding: 100px 0; */
  height: 80vh;

  /* flex parent properties*/
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-around; */
  align-items: flex-start;
  /* flex-wrap: wrap; */
  /* align-content: space-between; */
}

.child {
  border: 5px solid red;
  font-size: 36px;
  padding: 20px;
  /* width: 400px; */
  /* height: 100px; */

  /* flex child properties*/
  flex: 1 1 400px;
}

.child4 {
  /* flex child properties*/
  /* margin-left: auto; */
  /* align-self: flex-end; */
  order: -1;
}  
