li {
  display: inline-block;
  padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  vertical-align: middle; /* серединка всіх a вишикується в одну лінію */
}

.blue-btn {
  background-color: aqua;
  padding: 10px 20px;
  border-radius: 20px;
}
